body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #70c5ce;
}

canvas {
  background: url("../assets/images/background.png");
  border: 2px solid #000;
}
